<form (ngSubmit)="updateProjectDetails()">
  <div class="form-group">
    <label for="name">Nom du Projet</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="project.name" [ngModelOptions]="{standalone: true}" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" [(ngModel)]="project.description" [ngModelOptions]="{standalone: true}" required></textarea>
  </div>

  <div class="mb-3">
    <label for="teamSelection" class="form-label">Sélectionner une équipe</label>
    <select id="teamSelection" class="form-select" [(ngModel)]="project.teamId" [ngModelOptions]="{standalone: true}" aria-label="Sélectionner une équipe">
      <!-- Options pour les équipes -->
      <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label  class="form-label">Statut des Tâches</label>
    <div *ngFor="let task of project.tasks; let i = index">
      <p>Tache nom ;{{project.tasks[i].title}}</p>
      <select class="form-select" [(ngModel)]="project.tasks[i].status" [ngModelOptions]="{standalone: true}"  aria-label="Statut de la Tâche">
        <option value="To Do">To Do</option>
        <option value="In Progress">In Progress</option>
        <option value="Done">Done</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Mettre à Jour</button>
</form>
